<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lux.ex071cameraapp2">

    <!-- 외부저장소에 대한 퍼미션    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ex071CameraApp2"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <!-- FileProvider 등록 -->
    <!-- authorities  속성 : FileProvider의 식별글씨 - 자바에서 인식하는 명칭 (단, 중복되는 이름이 없어야 하기에 패키지명을 이용하는 것을 권장-->
    <!--  exported="false" : 다른앱에서 이 프로바이더 객체를 사용 못 하도록 -->
        <provider
            android:authorities="com.lux.ex071cameraapp2.FileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

    <!--  프로바이더가 공개할 파일의 경로(path)를 지정 - xml에 경로들 작성  -->
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths"/>
        </provider>

    </application>

</manifest>